body {
    font-family: "Inter", sans-serif;
}

h1, h2 {
    font-family: "JetBrains Mono", monospace;
}

/* 



ORIGINAL CSS



*/

/* 

Global Styles

*/
/* 
:root {
    --primary-color: #d3ec8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    margin-top: 3rem;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
} */



/* 

To-do Tracker

*/
/* 
h1 {
    font-size: 36px;
    font-family: "JetBrains Mono", monospace;
}

.todo-tracker {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    margin: 0 auto;
}

#motivational-text {
    text-align: left;
    padding-top: 5px;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
}

.task-counter {
    background-color: var(--primary-color);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 32px;
}

.spacer {
    padding: 0 5px;   
} */

/* 

Form

*/
/* 
.task-form {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.task-input {
    width: 350px;
    height: 45px;
    padding-left: 8px;
    outline: none;
    border-radius: 30px;
    border: 1px solid #333;
    font-size: 18px;
}

.submit-btn {
    height: 45px;
    width: 45px;    
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
} */


/* 

Task List

*/
/* 
.task-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 2rem auto;
}

.li-text.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.inline-form {
    display: inline;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    padding: 1rem;
    width: 420px;
    height: 60px;
    border-radius: 10px;
}

.li-text {
    text-align: left;
}

.task-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: .5rem;
}

.task-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.task-btn .fa-circle-check {
    color: #3cb371;
}

.task-btn .fa-trash {
    color: #b22222;
}

.clear-all-btn {
    margin-bottom: 3rem;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b22222;
    border: none;
    color: white;
    border-radius: 10px;
} */


/* 

Media Queries

*/
/* 
@media screen and (max-width: 767px) {
    
    main {
        margin-top: 1rem;
    }

    .todo-tracker {
        width: 100%;
        height: auto;
        column-gap: 1rem;
        padding: 1rem;
    }

    #motivational-text {
        text-align: center;
    }

    .task-counter {
        padding: 0px 20px;
        height: 90px;
        width: 90px;
        font-size: 28px;
    }

    .task-input {
        width: 100%;
    }

    .task-item {
        width: 100%;
    }

}

@media screen and (max-width: 340px) {

    h1 {
        font-size: 30px;
    }
    
    .task-counter {
        height: 70px;
        width: 70px;
        font-size: 22px;
    }

    spacer {
        padding: 0 3px;
    }

} */